<?xml version="1.0"?>
<robot name="$(arg prefix)" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="$(arg prefix)_imu">
        <sensor name="$(arg prefix)_imu_sensor" type="imu">
          <always_on>1</always_on>
          <update_rate>100.0</update_rate>
          <visualize>true</visualize>
          <topic>imu</topic>
        </sensor>
    </gazebo>
    
    <gazebo reference="$(arg prefix)_pressure">
        <sensor name="$(arg prefix)_pressure_sensor" type="altimeter">
            <always_on>1</always_on>
            <update_rate>100.0</update_rate>
            <visualize>true</visualize>
            <topic>/altimeter</topic>
        </sensor>
        
    </gazebo>
    
    <gazebo>
        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu" />
        <plugin filename="ignition-gazebo-altimeter-system" name="ignition::gazebo::systems::Altimeter" />
    </gazebo>

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find riptide_bringup_sim)/config/riptide_controllers.yaml</parameters>
        </plugin>

        <plugin filename="riptide_plugins" name="riptide_plugins::Thruster">
            <joint_name>$(arg prefix)_thruster_joint</joint_name>
            <!-- <use_angvel_cmd>true</use_angvel_cmd> -->
            <fluid_density>1000</fluid_density>
            <propeller_diameter>0.1</propeller_diameter>
            <thrust_coefficient>0.0004</thrust_coefficient>
        </plugin>

        <plugin filename="ignition-gazebo-hydrodynamics-system" name="ignition::gazebo::systems::Hydrodynamics">
            <link_name>base_link</link_name> <!-- dummy_link and riptide link are fusionned in gazebo as the joint between the two links is fixed-->
            <xDotU>-7.</xDotU>
            <yDotV>-0.5</yDotV>
            <zDotW>-0.5</zDotW>
            <kDotP>-0.01</kDotP>
            <mDotQ>-0.1</mDotQ>
            <nDotR>-0.1</nDotR>

            <xUabsU>-0.01</xUabsU>
            <yVabsV>-0.05</yVabsV>
            <zWabsW>-0.05</zWabsW>
            <kPabsP>-0.05</kPabsP>
            <mQabsQ>-0.01</mQabsQ>
            <nRabsR>-0.01</nRabsR>

            <xU>-2.</xU>
            <yV>-5.</yV>
            <zW>-5.</zW>
            <kP>-1.</kP>
            <mQ>-3.</mQ>
            <nR>-3.</nR>
        </plugin>
    </gazebo>

    <gazebo reference="$(arg prefix)">
        <visual>
            <material>
                <ambient>1. 0.05 0.05 1</ambient>
                <diffuse>1. 0.05 0.05 1</diffuse>
                <specular>1. 0.15 0.15 1</specular>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="$(arg prefix)_thruster">
        <visual>
            <material>
                <ambient>0.05 0.35. 1. 1</ambient>
                <diffuse>0.05 0.35. 1. 1</diffuse>
                <specular>0.15 0.45. 1. 1</specular>
            </material>
        </visual>
    </gazebo>

</robot>