<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="$(arg prefix)_pressure" type="sensor">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
            <param name="altitude_topic">/altimeter</param>
        </hardware>
        <sensor name="$(arg prefix)_pressure_sensor">
            <state_interface name="depth"/>
        </sensor>
    </ros2_control>
     
</robot>